
<h1>Contact Form</h1>

<body>
    <h1> Email: </h1>
    <input type="text" id="textInput" name="textInput">
     
    <h1> Address: </h1>
    <input type="text" id="textInput" name="textInput">
</body>

    <button type = "submit">Done</button>

